<div class="g-container row">
    <div class="split-container col-md-6">
        <!-- <img src="assets/images/surface.jpg" class="banner" width="400" height="300"/> -->
    </div>
    <div class="split-container col-12" [class.load] = "load">
        <div class="logos col-12">
            <img src="assets/images/wish-header.png" class="float-left" width="500" height="100" alt="">
            <img src="assets/images/mainlogo.png" class="float-left" alt="" width="500">
        </div>
        <div class="spin" *ngIf="load">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <h4 class="text-center my-4 font-weight-bold divHeading">Change Password</h4>
        <form [formGroup]="passwordResetForm" (submit)="changePassword()">
            <div class="form-group" *ngIf="isShown">
                <small class="text-danger text-center">Email used to register account. You will receive  an email with a new password</small><br>
                <small class="text-danger">{{warn}}</small>
                <div>
                    <label for="" class="form-label">Email</label>
                    <input type="text" class="form-control form-control-lg" formControlName="email" [class.is-invalid] = "passwordResetForm.controls.email.status == 'INVALID' && passwordResetForm.controls.email.touched == true">
                </div>
                <div>
                    <label for="" class="form-label">Username</label>
                    <input type="text" class="form-control form-control-lg" formControlName="user" [class.is-invalid] = "passwordResetForm.controls.user.status == 'INVALID' && passwordResetForm.controls.user.touched == true">
                </div>
                <div class="realm">
                    <input type="text" class="form-control form-control-lg" formControlName="realm">
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary mb-2 registerBtn recoverBtn" value="Recover Password"/>
                </div>
            </div>
        </form>
    </div>
</div>