<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="main-content col-md-5">
        <div>
            <h2 class="lead-heading">Frequently Asked Questions</h2>
            <div class="quiz">
                <p>What is a multiindicatoor cluster survey?<span>icon</span></p>
                <p class="answer">Since the mid-1990s, 11 countries have carried out one or more Multiple Indicator Cluster Surveys, generating data on key indicators on the well-being of childen and women, and helping shape policies  for the improvement of their lives</p>
            </div>
            <div class="quiz">
                <p>How is such a study helpful?<span>icon</span></p>
            </div>
            <div class="quiz">
                <p>How do i create and account?<span>icon</span></p>
            </div>
            <div class="quiz">
                <p>How do i download the files?<span>icon</span></p>
            </div>
            <div class="quiz">
                <p>How is such a study helpful?<span>icon</span></p>
            </div>
            <div class="quiz">
                <p>How is such a study helpful?<span>icon</span></p>
            </div>
            <div class="quiz">
                <p>How is such a study helpful?<span>icon</span></p>
            </div>
            <div class="quiz">
                <p>How is such a study helpful?<span>icon</span></p>
            </div>
            <div class="quiz">
                <p>How is such a study helpful?<span>icon</span></p>
            </div>
        </div>
    </div>
</div>