<div class="overall-wrap d-flex flex-column min-vh-100"> 
    <div class="navbar-holder">
        <app-top-header></app-top-header>
    </div>
    <div class="container-fluid">
        <div class="main-content col-md-8 col-12">
            <div>
                <h2 class="lead-heading">Frequently Asked Questions</h2>
                <div class="faq-wrap row">
                    <div class="quizes col-4">
                        <div class="quiz-one" [class.active]="activeLink('one')">
                            <button (click)="faq_number('one')" [class.active]="activeLink('one')">
                                <p>How do I access the dataset?</p>
                            </button>
                            <span><i class="fas fa-arrow-right"></i></span>
                        </div>
                        <div class="quiz-two" [class.active]="activeLink('two')">
                            <button (click)="faq_number('two')" [class.active]="activeLink('two')">
                                <p>What Datasets are included?</p>
                            </button>
                            <span><i class="fas fa-arrow-right"></i></span>
                        </div>
                        <div class="quiz-three" [class.active]="activeLink('three')">
                            <button (click)="faq_number('three')" [class.active]="activeLink('three')">
                                <p>How is the data compiled processed?</p>
                            </button>
                            <span><i class="fas fa-arrow-right"></i></span>
                        </div>
                        <div class="quiz-four" [class.active]="activeLink('four')">
                            <button (click)="faq_number('four')" [class.active]="activeLink('four')">
                                <p>How can the datasets be downloaded?</p>
                            </button>
                            <span><i class="fas fa-arrow-right"></i></span>
                        </div>
                        <div class="quiz-five" [class.active]="activeLink('five')">
                            <button (click)="faq_number('five')" [class.active]="activeLink('five')">
                                <p>How do I find a dataset?</p>
                            </button>
                            <span><i class="fas fa-arrow-right"></i></span>
                        </div>
                        <div class="quiz-six" [class.active]="activeLink('six')">
                            <button (click)="faq_number('six')" [class.active]="activeLink('six')">
                                <p>Guidelines on Data Access and Sharing</p>
                            </button>
                            <span><i class="fas fa-arrow-right"></i></span>
                        </div>
                        <div class="quiz-seven" [class.active]="activeLink('seven')">
                            <button (click)="faq_number('seven')" [class.active]="activeLink('seven')">
                                <p>How long does it take to approve a dataset?</p>
                            </button>
                            <span><i class="fas fa-arrow-right"></i></span>
                        </div>
                        <div class="quiz-eight" [class.active]="activeLink('eight')">
                            <button (click)="faq_number('eight')" [class.active]="activeLink('eight')">
                                <p>How long will they have access to the datasets?</p>
                            </button>
                            <span><i class="fas fa-arrow-right"></i></span>
                        </div>
                        <div class="quiz-nine" [class.active]="activeLink('nine')">
                            <button (click)="faq_number('nine')" [class.active]="activeLink('nine')">
                                <p>Can I download/request multiple datasets at the same time</p>
                            </button>
                            <span><i class="fas fa-arrow-right"></i></span>
                        </div>
                        <div class="quiz-ten" [class.active]="activeLink('ten')">
                            <button (click)="faq_number('ten')" [class.active]="activeLink('ten')">
                                <p>How often is the data updated?</p>
                            </button>
                            <span><i class="fas fa-arrow-right"></i></span>
                        </div>
                        <div class="quiz-eleven" [class.active]="activeLink('eleven')">
                            <button (click)="faq_number('eleven')" [class.active]="activeLink('eleven')">
                                <p>Who can request data?</p>
                            </button>
                            <span><i class="fas fa-arrow-right"></i></span>
                        </div>
                        <div class="quiz-twelve" [class.active]="activeLink('twelve')">
                            <button (click)="faq_number('twelve')" [class.active]="activeLink('twelve')">
                                <p>How can I submit feedback about the portal?</p>
                            </button>
                            <span><i class="fas fa-arrow-right"></i></span>
                        </div>
                    </div>
                    <div class="col-8 p-2 quiz-answers" [ngSwitch]="faq">
                        
                        <div class="quiz" *ngSwitchCase="'one'" >
                            
                            <p class='answer-show'>You will be able to access and view the dataset without logging in, but when you decide to download a dataset, you will need to to the Data Sharing Portal.<br><br>For the user registration, you will need to <a [routerLink]="['../registration']"  class="">register</a> and  create a password-protected account.</p>
                        </div>
                        <div class="quiz" *ngSwitchCase ="'two'">
                            <p class="answer-show">The datasets included are:</p>
                            <ul class='answer-show'>
                                <li>Client Exit Interviews</li>
                                <li>Service Statistics</li>
                                <li>Impact Data</li>
                            </ul>
                        </div>
                        <div class="quiz" *ngSwitchCase = "'three'">
                            
                            <p class='answer-show'>The service statistics consists of data from various public and private health facilities which is compiled monthly by participating countries and aggregated at a central level for reporting purposes.<br>Impact data is calculated quarterly (and annually) at the central level from the service statistics and Impact 2.5.<br><br>Client Exit Interview data is collected annually in each country in a sample of public and private facilities that report into the service statistics data. Specific variables are then combined for program reporting and adaptive learning. </p>
                        </div>
                        <div class="quiz" *ngSwitchCase ="'four'">
                            
                            <div class='answer-show'>Once you have registered to the WISH Data Sharing portal, you will have your own account, which can be accessed by logging in.<br><br>The datasets can be downloaded from their page. 
                            <br>Please include the following information in your request:
                            <ul>
                                <li>Name</li>
                                <li>Email</li>
                                <li>Organisation</li>
                                <li>Country</li>
                                <li>Purpose of data use</li>
                            </ul>
                            </div>
                        </div>
                        <div class="quiz" *ngSwitchCase = "'five'">
                            
                            <p class='answer-show'>Users can browse through the data catalogue, search for the data using the filters available on the portal, browse through organisations, and find the datasets they are interested in.</p>
                        </div>
                        <div class="quiz" *ngSwitchCase = "'six'">
                            
                            <p class='answer-show'>(we will include a few bits from the Terms of Use)</p>
                        </div>
                        <div class="quiz" *ngSwitchCase = "'seven'">
                            
                            <p class='answer-show'>Requests to access datasets will be approved within 48hours. Once your request has been approved, you will receive an email with instructions on how the data can be accessed/downloaded.</p>
                        </div>
                        <div class="quiz" *ngSwitchCase ="'eight'">
                            
                            <p class='answer-show'>The time allotted for the use of the data is 6 months. If you want to use the same data after the six months, you will need to submit a new request.</p>
                        </div>
                        <div class="quiz" *ngSwitchCase ="'nine'">
                            
                            <p class='answer-show'>You can only download up to 3 datasets at an instance.</p>
                        </div>
                        <div class="quiz" *ngSwitchCase ="'ten'">
                            
                            <p class='answer-show'>Annually.</p>
                        </div>
                        <div class="quiz" *ngSwitchCase = "'eleven'">
                            
                            <p class='answer-show'>Researchers, learning institutions, and organisations may register on the WISH data sharing portal to access and obtain data. Some datasets have restriction on access due to data confidentiality.
                            <br><br>You can use the search filter to get an overview of datasets that are open and restricted.</p>
                        </div>
                        <div class="quiz" *ngSwitchCase = "'twelve'">
                            
                            <p class='answer-show'>Users can leave comments and reviews on the feedback section located at the footer menu of the Data Portal, or use the contacts found at the ‘Contact us’ section still in the footer menu. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer class="mt-auto"></app-footer>
</div>