
    <footer class="p-3">
        <div class="logos col-3">
            <img src="assets/images/wish-header.png" class="float-left" width="250" alt="">
            <img src="assets/images/mainlogo.png" class="float-left" alt="" width="250">
        </div>
        <div class="menu-links col-4 text-right py-3">
            <ul>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="subscribe col-5">
            <h3>Subscribe to our newsletter</h3>
            <form action="">
                <div class="form-group">
                    <input type="email" placeholder="Email" class="form-control-lg " id="emailInput">
                </div>
                <div class="form-group">
                    <input type="submit" value="Subscribe" class="btn text-right searchBtn blueBtn searchBtnSmall">
                </div>
            </form>
        </div>
    </footer>