
    <footer class="p-3">
        <div class="menu-links col-4 text-right py-3">
            <ul>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="subscribe col-5">
            <!-- <h3>Tell Us How We Can Improve</h3> -->
            <form action="">
                <div class="form-group">
                    <div class="mb-3">
                      <label for="">Tell Us How We Can Improve</label>  
                      <textarea class="form-control" name="" id="" rows="2"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn text-right searchBtn blueBtn searchBtnSmall">
                </div>
            </form>
        </div>
    </footer>