<div class="container" scroll="yes">
    <div class="addNew text-right">
        <p>Upload New</p>
        <!-- <label for="">Upload New</label>
        <input type="file" name="" id=""> -->
    </div>
    <form action="" >
        <div class="search col-12 row mb-2">
            <input type="text" name="" id="" placeholder="Search Datasets" class="col-9">
            <input type="submit" value="Search" class="col-2 btn btn-secondary submitSearch">
        </div>
        <div class="filters col-9">
            <p>Publish Status: </p>
            <div class="filter-options">
                <input type="checkbox" name="" id="" class="">
                <label for=""> All</label>
            </div>
            <div class="filter-options">
                <input type="checkbox" name="" id="" class="">
                <label for=""> Published Only</label>
            </div>
            <div class="filter-options">
                <input type="checkbox" name="" id="" class="">
                <label for="">Not Published</label>
            </div>
        </div>
    </form>
    <div class="px-md-5">
        <table class="table px-md-5">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Files</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row" class="blueText">HI - CEI Presentation</td>
                    <td>HI - CEI Dissemination Presentation</td>
                    <td>(1) Files</td>
                    <td><button class="btn btn-secondary actionBtn blueBtn">Actions</button>
                    </td>
                </tr>
                <tr>
                    <td scope="row" class="blueText">HI - CEI Presentation</td>
                    <td>HI - CEI Dissemination Presentation</td>
                    <td>(1) Files</td>
                    <td><button class="btn btn-secondary actionBtn">Actions</button></td>
                </tr>
                <tr>
                    <td scope="row" class="blueText">HI - CEI Presentation</td>
                    <td>HI - CEI Dissemination Presentation</td>
                    <td>(1) Files</td>
                    <td><button class="btn btn-secondary actionBtn">Actions</button></td>
                </tr>
                <tr>
                    <td scope="row" class="blueText">HI - CEI Presentation</td>
                    <td>HI - CEI Dissemination Presentation</td>
                    <td>(1) Files</td>
                    <td><button class="btn btn-secondary actionBtn">Actions</button></td>
                </tr>
                <tr>
                    <td scope="row" class="blueText">HI - CEI Presentation</td>
                    <td>HI - CEI Dissemination Presentation</td>
                    <td>(1) Files</td>
                    <td><button class="btn btn-secondary actionBtn">Actions</button></td>
                </tr>
                <tr>
                    <td scope="row" class="blueText">HI - CEI Presentation</td>
                    <td>HI - CEI Dissemination Presentation</td>
                    <td>(1) Files</td>
                    <td><button class="btn btn-secondary actionBtn">Actions</button></td>
                </tr>
            </tbody>
          </table>
    </div>

</div>