.container {
    margin-top: 2rem;
    /* padding: 0 5%; */
    scroll-behavior: smooth;
}
.addNew {
    padding-right: 10%;
    width: 100%;
    text-align: right;
}
.addNew p {
    font-weight: bold;
    font-size: 1.4rem;
}
.search {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-right: 2rem;
}
.search input:nth-child(1) {
    background-color: #F0F0F0;
}
.submitSearch {
    background-color: #151F6D !important;
    font-weight: bold !important;
}
.search input {
    height: 55px;
    border-radius: 47px;
}
.statusBtn {
    background-color: rgb(54, 102, 54) !important;
    color: white !important;
}
.actionBtn {
    width: 100%;
}
.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.filter-options input {
    margin-right: 5px;
}
thead {
    color: #151F6D !important;
    font-size: 1.3rem; 
    font-weight: bold;
}
th td {
    padding: 1rem 0;
}
table button {
    padding: 0.5rem 1rem;
    border-radius: 1.4rem;
    border: none;
    color: white;
}