<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="links">
        <a href="#">About</a>
        <a href="#">Background</a>
        <a href="#">Meet the Team</a>
    </div>
    <div class="main-content">
        <div class="about-mics">
            <h2 class="lead-heading">ABOUT MICS</h2>
            <p>Since the mid-1990s, 118 countries have carried out one or more multiple Indicator Cluster Surveys, generatting data on key indicators on the well-being of children and women, and helping shaping policies for the improvement of their lives</p>
        </div>
        <div class="background">
            <h2 class="lead-heading">BACKGROUND</h2>
            <p>SInce its inception in the mid-1990s, the Multiple Indicator Cluster Surveys programme known as MICS, has become the largest source of statistical sound and international compararble data on children and women worldwide. In countries as diverse as Bangladesh, Thailand, Fiji, Qatar, Cote d'Ivoire, Turkmenistan and Argentina, trained fieldwork teams conduct face-to-face interviews with household members on a variety of topics - focusing mainly on those issues that directly affect the lives of children and women. MICS is an integral part of plans and policies of many governments around the world, and a major dat source for more thatn 30 Sustainable Development Goals (SDGs) indicators. The MICS programme continues to evolve with new methodologies and initiatives, including MICS Link, MICS GIS and the MICS Tabulator.</p>
        </div>
        <div class="team">
            <h2 class="lead-heading">MEET THE TEAM</h2>
            <div class="cards-body">
                <div>
                    <div class="imageHolder thirdImg">
                    </div>
                    <h2 class="lead-heading">John Ayoade</h2>
                    <h2 class="lead-heading-small">Data Analyst</h2>
                </div>
                <div>
                    <div class="imageHolder thirdImg">
                    </div>
                    <h2 class="lead-heading">John Ayoade</h2>
                    <h2 class="lead-heading-small">Data Analyst</h2>
                </div>
                <div>
                    <div class="imageHolder thirdImg">
                    </div>
                    <h2 class="lead-heading">John Ayoade</h2>
                    <h2 class="lead-heading-small">Data Analyst</h2>
                </div>
                <div>
                    <div class="imageHolder thirdImg">
                    </div>
                    <h2 class="lead-heading">John Ayoade</h2>
                    <h2 class="lead-heading-small">Data Analyst</h2>
                </div>
                <div>
                    <div class="imageHolder thirdImg">
                    </div>
                    <h2 class="lead-heading">John Ayoade</h2>
                    <h2 class="lead-heading-small">Data Analyst</h2>
                </div>
                <div>
                    <div class="imageHolder thirdImg">
                    </div>
                    <h2 class="lead-heading">John Ayoade</h2>
                    <h2 class="lead-heading-small">Data Analyst</h2>
                </div>
            </div>
        </div>
    </div>
</div>