<div class="navbar-holder">
    <app-top-header></app-top-header>
</div>
<div class="container-fluid row justify-content-center">
    <!-- <div class="links col-md-2">
        <a href="#about-mics">About</a>
        <a href="#background">Background</a>
        <a href="#team" target="_self">Meet the Team</a>
    </div> -->
    <div class="main-content col-12 col-md-7">
        <div class="about-mics" id="about-mics">
            <h2 class="lead-heading">About Us</h2>
            <p><b>IPPF</b>, in partnership with UK Foreign, Commonwealth & Development Office (FCDO), is implementing the flagship family planning programme WISH2ACTION (W2A) from October 2018 until March 2023. The programme targets priority populations including youth under 20 years of age, people living with disability, people living in humanitarian settings and people living in poverty.  The programme aimed to deliver 16.9 million couple years of protection across 15 countries and to reach 2.2 million additional users of family planning over 3 years by the end of 2021. The programme has since been extended to continue till March 2023 in 9 African countries having phased out in the other 6 countries.  
            <br><br>Between the project start and end of 2021, W2A reached over 2.8 million additional users and provided over 24 million CYPs to women and men across the 15 country programmes.</p>
        </div>
        <div class="background" id="background" >
            <h2 class="lead-heading">Our Partners</h2>
            <ul>
                <li>MSI <a href="https://www.msichoices.org/">https://www.msichoices.org/</a></li>
                <li>IRC <a href="https://www.rescue.org/">https://www.rescue.org/</a></li>
                <li>DMI <a href="https://www.developmentmedia.net/">https://www.developmentmedia.net/</a></li>
                <li>HI <a href="https://humanity-inclusion.org.uk/en/index">https://humanity-inclusion.org.uk/en/index</a></li>
                <li>Options <a href="https://options.co.uk/">https://options.co.uk/</a></li>
            </ul>
        </div>
        <!-- <div class="team">
            <h2 class="lead-heading"  name="team">MEET THE TEAM</h2>
            <div class="cards-body">
                <div class="team-card">
                    <div class="imageHolder thirdImg">
                    </div>
                    <h2 class="lead-heading">John Ayoade</h2>
                    <h2 class="lead-heading-small">Data Analyst</h2>
                </div>
                <div class="team-card">
                    <div class="imageHolder thirdImg">
                    </div>
                    <h2 class="lead-heading">John Ayoade</h2>
                    <h2 class="lead-heading-small">Data Analyst</h2>
                </div>
                <div class="team-card">
                    <div class="imageHolder thirdImg">
                    </div>
                    <h2 class="lead-heading">John Ayoade</h2>
                    <h2 class="lead-heading-small">Data Analyst</h2>
                </div>
                <div class="team-card">
                    <div class="imageHolder thirdImg">
                    </div>
                    <h2 class="lead-heading">John Ayoade</h2>
                    <h2 class="lead-heading-small">Data Analyst</h2>
                </div>
                <div class="team-card">
                    <div class="imageHolder thirdImg">
                    </div>
                    <h2 class="lead-heading">John Ayoade</h2>
                    <h2 class="lead-heading-small">Data Analyst</h2>
                </div>
                <div class="team-card">
                    <div class="imageHolder thirdImg">
                    </div>
                    <h2 class="lead-heading">John Ayoade</h2>
                    <h2 class="lead-heading-small">Data Analyst</h2>
                </div>
            </div>
        </div> -->
    </div>
</div>
<app-footer></app-footer>