<div class="g-container row">
    <div class="split-container col-md-6">
        <!-- <img src="assets/images/surface.jpg" class="banner" width="400" height="300"/> -->
    </div>
    <div class="split-container col-12">
        <div class="logos col-12">
            <img src="assets/images/wish-header.png" class="float-left" width="500" height="100" alt="">
            <img src="assets/images/mainlogo.png" class="float-left" alt="" width="500">
        </div>
        <h4 class="text-center my-4 font-weight-bold divHeading">Contact US</h4>
        <form>
            <div class="form-group">
                <label for="" class="form-label">Full name</label>
                <input type="text" class="form-control form-control-lg" >
            </div>
            <div class="form-group">
                <label for="" class="form-label">Email Address</label>
                <input type="text" name="email" class="form-control form-control-lg">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Country</label>
                <select name="" id="country" class="form-select form-select-lg form-control form-control-lg">
                    <option value="Kenya">Kenya</option>
                    <option value="Malawi">Malawi</option>
                    <option value="Rwanda">Rwanda</option>
                    <option value="Congo">Congo</option>
                </select>
            </div>
            <div class="form-group">
                <label for="" class="form-label">Organization</label>
                <select name="" id="" class="form-select form-select-lg form-control form-control-lg">
                    <option value="Malawi">Admin</option>
                    <option value="Rwanda">Publisher</option>
                    <option value="Congo">User</option>
                </select>
            </div>
            <div class="mb-3 form-group">
              <label for="" class="form-label">Message</label>
              <textarea class="form-control" name="" id="" rows="5"></textarea>
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-primary mb-2 registerBtn" id="contactUsBtn" value="Submit">
            </div>
        </form>
    </div>
</div>