<div class="overall-wrap d-flex flex-column min-vh-100">
    <div class="navbar-holder col-12">
        <app-top-header></app-top-header>
    </div>
    <div class="g-container row mt-2">
        <div class="split-container col-12 ">
            <div class="spin" *ngIf="load">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <h4 class="text-center font-weight-bold divHeading mt-3">Contact us</h4>
            <form [formGroup]="contactForm" (ngSubmit)="send()">
                <div class="form-group">
                    <label for="" class="form-label">Country</label>
                    <select name="" id="country" class="form-select form-select-lg form-control form-control-lg" formControlName="country">
                        <option value="0" selected disabled>Select country</option>
                        <option value="Kenya">Kenya</option>
                        <option value="Malawi">Malawi</option>
                        <option value="Rwanda">Rwanda</option>
                        <option value="Congo">Congo</option>
                    </select>
                </div>
                <div class="mb-3 form-group">
                <label for="" class="form-label">Message</label>
                <textarea class="" name="" id="" rows="7" formControlName="message"></textarea>
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary mb-2 registerBtn" id="contactUsBtn" value="Submit" >
                </div>
            </form>
        </div>
    </div>
    <app-footer class="mt-auto"></app-footer>
</div>