<div class="menu-div">
    <ul class="menu">
        <li class="menu-items">
            <a href="#" class="list-item  h3">Home</a>
        </li>
        <li class="menu-items">
            <a [routerLink]="['../datasets']" class="list-item h3">Datasets</a>
        </li>
        <li class="menu-items">
            <a href="#" class="list-item h3">WISHScope</a>
        </li>
        <li class="menu-items">
            <a class="list-item h3 active">Data Requests</a>
        </li>
    </ul>
</div>