<div class="min-vh-100">
    <div class="m-auto col-12 col-md-6 wrapContent">
        <div class="logos col-12 mt-5 pt-5">
            <img src="assets/images/wish-header.png" class="float-left" width="500" height="100" alt="">
            <img src="assets/images/mainlogo.png" class="float-left" alt="" width="500">
        </div>
        <div class="pt-5">
            <h2 class="text-center lead-heading">Page not found</h2>
            <div class="my-4">
                <a [routerLink]="['/home']" class="btn btn-primary blueBtn">Go back home</a>
            </div>
        </div>
    </div>
</div>