.container {
    margin-bottom: 2rem;
}
.links {
    display: flex;
    flex-direction: column;
}
.links a, .links button {
    text-decoration: none;
    color: #151F6D;
    margin-bottom: 1rem;
    font-size: 1rem;
}
.links button {
    border: none;
    background-color: none !important;
    text-align: left;
}
.btn-group button{
    margin-right: 1rem;
    padding-left: 0 !important;
    color: black !important;
    letter-spacing: 1px;
    font-size: 25px;
}
.blue-text {
    text-decoration: none;
    font-size: 1rem;
}
.blue-text i {
    margin: 0 8px;
}
.blueBtn {
    padding: 0 1rem;
    border-radius: 1rem;
    text-decoration: none;
    border: none;
    color: wheat;
    font-size: 1rem;
}
.pink-border {
    border-bottom: 3px solid #E6007E;
}
table {
    background-color: rgb(199, 198, 198);
    color: black;
    padding: 8px 16px !important;
}
.question-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    margin-bottom: 2rem;
}
.question-data {
    padding-left: 2rem;
}
.question-data-bold {
    font-weight: bold;
}