.menu-div {
    /* width: 100%; */
    padding: 2rem 20%;
}
.menu{
    /* padding: 0 8rem 0 4rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: #151F6D !important;
}
/* .menu a:active{
    border: 3px solid red;
} */
.active{
    border-bottom: 4px solid #E6007E;
}
.menu a:hover {
    color: #7e88d6 !important;
}
.dataset-heading {
    display: flex;
    justify-content: space-between;
}
.details-content {
    display: flex;

}
.download-links {
    width: 30%;
}
.file-types {
    margin-bottom: 40px;
}
.file-types:last-child {
    margin-bottom: 0;
}
.file-types .btn{
    border: none !important;
    width: 100px;
    margin-right: 2rem;
    border-radius: 20px;
}
.btnCsv {
    background-color: #151F6D !important;
}
.btnJson {
    background-color: yellow !important;
}
.btnXls {
    background-color: #E6007E !important;
}
.btnPdf {
    background-color: #7e88d6 !important;
}
.file-types a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #151F6D;
}
.table-of-records {
    width: 70%;
    background-color: #E5E5E5;
    border-radius: 1rem;
}