<div class="navbar-holder">
    <app-top-header></app-top-header>
</div>
<div class="spin" *ngIf="load">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="home-container row fluid-container p-5" [class.load] = "load">
    <div class="settings col-12 col-md-3">
        <h2 class="lead-heading-mid">Account Settings</h2>
        <div class="avatar pink-text">
            <i class="fas fa-user-circle"></i>
        </div>
        <div class="user-details mt-3">
            <form action="" [formGroup]="accountDetailsForm" (submit)="updateUser()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control form-control-lg" formControlName="username" [class.is-invalid] = "accountDetailsForm.controls.username.status == 'INVALID' && accountDetailsForm.controls.username.touched == true" >
                </div>
                <div class="form-group">
                    <label for="name">Email Address</label>
                    <input type="text" class="form-control form-control-lg" formControlName="email" [class.is-invalid] = "accountDetailsForm.controls.email.status == 'INVALID' && accountDetailsForm.controls.email.touched == true">
                </div>
                <input type="submit" class="btn btn-primary mb-2 registerBtn" id="" value="Save">
            </form>
        </div>
    </div>
    <div class="activity px-4 col-12 col-md-9">
        <h2 class="lead-heading-mid">Account Activity</h2>
        <div class="saved-datasets col-12 col-md-9 pt-3">
            <h2 class="lead-heading-small-black">No recorded user activity</h2>
            <!-- <a href="#">Survey 2021-2022, Angola</a> -->
        </div>
        <!-- <div class="downloaded-datasets col-12 col-md-9 pt-3">
            <h2 class="lead-heading-small-black">Downloaded Datasets</h2>
            <a href="#">Survey 2021-2022, Benin</a>
        </div>
        <div class="requested-datasets col-12 col-md-9 pt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <h2 class="lead-heading-small-black">Requested Datasets</h2>
                        </th>
                        <th>
                            <h2 class="lead-heading-small-black">Status</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            <a href="#">Survey 2021-2022, Angola</a>
                        </td>
                        <td class="pink-text">Pending</td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <a href="#">Survey 2021-2022, Angola</a>
                        </td>
                        <td class="">Approved</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </div>
    <div class="update-password mt-3">
        <h4 class="text-center my-4 font-weight-bold divHeading">Change Password</h4>
        <form [formGroup]="passwordResetForm" (submit)="changePassword()" class="col-12">
            <div class="form-group" *ngIf="isShown">
                <div class="text-center">
                    <!-- <small class="text-danger text-center">Email used to register account. You will receive  an email with a new password</small><br> -->
                    <small class="text-danger">{{warn}}</small>    
                </div>
                <div class="input-field">
                    <label for="" class="form-label">Email</label>
                    <input type="text" class="form-control form-control-lg" formControlName="email" [class.is-invalid] = "passwordResetForm.controls.email.status == 'INVALID' && passwordResetForm.controls.email.touched == true">
                </div>
                <div class="input-field">
                    <label for="" class="form-label">New password</label>
                    <input type="password" class="form-control form-control-lg" formControlName="password" [class.is-invalid] = "passwordResetForm.controls.password.status == 'INVALID' && passwordResetForm.controls.password.touched == true">
                </div>
                <div class="input-field">
                    <label for="" class="form-label">Confirm password</label>
                    <input type="password" class="form-control form-control-lg" formControlName="confirm_password" [class.is-invalid] = "passwordResetForm.controls.confirm_password.status == 'INVALID' && passwordResetForm.controls.confirm_password.touched == true">
                </div>
                <div class="realm input-field">
                    <input type="text" class="form-control form-control-lg" formControlName="realm">
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary mb-2 registerBtn recoverBtn" value="Recover Password"/>
                </div>
            </div>
        </form>
    </div>
    
</div>
<app-footer></app-footer>