<div class="container mt-4">
    <h2 class="h2 mb-4">WISH Data and Resources Portal</h2>
    <p>The Women's Intergrated Sexual Health (WISH) programme, under the strategy of 'Leave No One Behind', offers quality integrated and inclusive family planning and sexual and reproductive health services - to marginalised and hard to reach populations: the poor, youth under 20 and people living with a disability. Our evidence through the WISH programme adapts and informs integrated sexual and reproductive health and rights around the world. Find ot more in the evidence and resources section. Consortium partners can access country data, heatmaps and more through the login access area.</p>
    <div class="wish-images">
        <div class="col-3">
            <div class="wish-container">
                <a [routerLink]="['/resource-viewer']">
                    <img src="assets/images/wish-resources-button.png" alt="poverty heatmaps" class="wish-image" width="300px"/>
                </a>
            </div>
        </div>

       <div class="col-3">
           <div class="wish-container">
               <a [routerLink]="['/map']">
                   <img src="assets/images/heatmap-button.png" alt="heat map" class="wish-image" width="300px"/>
               </a>
           </div>
       </div>

       <div class="col-3">
        <div class="wish-container">
            <a [routerLink]="['/resource-viewer']">
                <img src="assets/images/wish-resources-button.png" alt="poverty heatmaps" class="wish-image" width="300px"/>
            </a>
        </div>
    </div>
   </div>
</div>