.container {
    padding-right: 20%;
}
.wish-images {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}
.wish-images img {
    /* width: 100%;
    height: auto; */
}