.menu-holder {
    width: 100%;
    margin: auto;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    list-style: none;
}
.menu a{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}
.whiteText {
    color:  #fff !important;
}
.blueText {
    color: #28348d !important;
}
.active{
    border-bottom: 4px solid #E6007E;
    /* color: #151F6D !important; */
}
.menu a:hover {
    color: #28348d;
}
.bread {
    display: none;
}
.bread {
    border: 0px solid #28348d;
    background: inherit;
    border-radius: 5px;
    position: relative;
    height: 25px;
    width: 50px;
}
.crumb {
    position: absolute;
    width: 100%;
/*    border: 1px solid #28348d;*/
    height: 2px;
    background: white;
    padding: 0px;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.crumb:nth-child(1){
    top: 3px;
}
.crumb:nth-child(2){
    top: 45%;
}
.crumb:nth-child(3){
    bottom: 3px;
}
.blue-crumb {
    background: #28348d !important;
}
.open .crumb:nth-child(1) {
  top: 10px !important;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}

.open .crumb:nth-child(2) {
  opacity: 0;
  left: -40px;
}

.open .crumb:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
@media (max-width: 768px) {
    .bread {
        display: block;
        cursor: pointer;
    }
    .menu-holder {
        position: relative;
    }
    .menu{
        display: none;
    }
    .bread:hover .menu{
        display: flex !important;
        flex-direction: column !important;
        position: absolute !important; 
        top: 30px !important;
        z-index: 1 !important;
        gap: 1rem !important;
    }
    .display {
        display: flex !important;
        flex-direction: column !important;
        position: absolute !important; 
        top: 30px !important;
        z-index: 1 !important;
        gap: 1rem !important;
        background-color: aliceblue;
        padding: 1rem;
        border-radius: 25px;

    }
    .display a {
        color: #28348d !important;
        width: 100%;
    }
}