<div class="menu-holder">
    <button class="bread" (click)="showMenu()" >
        <div class="crumb"></div>
        <div class="crumb"></div>
        <div class="crumb"></div>
    </button>
    <ul class="menu" [ngClass]="breadCrumb?'display' : ''">
        <li class="menu-items">
            <a [routerLink]="['/home']" class="list-item h3" [ngClass]=" fontColorBlue? 'blueText' : 'whiteText'" routerLinkActive="active">Home</a>
        </li>
        <li class="menu-items">
            <a [routerLink]="['/datasets']" class="list-item h3" [ngClass]=" fontColorBlue? 'blueText' : 'whiteText'" routerLinkActive="active">Datasets</a>
        </li>
        <li class="menu-items">
            <a href="#" class="list-item h3" [ngClass]=" fontColorBlue? 'blueText' : 'whiteText'" routerLinkActive="active">WISHScope</a>
        </li>
        <li class="menu-items">
            <a [routerLink]="['/datasets/dataset-request']" class="list-item h3" [ngClass]=" fontColorBlue? 'blueText' : 'whiteText'" routerLinkActive="active">Data Requests</a>
        </li>
    </ul>
</div>