.menu-holder {
    width: 100%;
    margin: auto;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
/*    gap: 3rem;*/
    list-style: none;
}
.menu div {
    display: none;
}
.menu a{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}
.whiteText {
    color:  #fff !important;
}
.blueText {
    color: #28348d !important;
}
.active{
    border-bottom: 4px solid #E6007E;
    /* color: #151F6D !important; */
}
.menu a:hover {
    color: #28348d;
}
.bread {
    display: none;
}
.bread {
    border: 2px solid #28348d;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
}
.crumb {
    width: 100%;
    border: 1px solid #28348d;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
}
.crumb:last-child {
    margin-bottom: 0px;
}
/*@media (max-width: 768px) {
    .bread {
        display: block;
    }
    .menu-holder {
        position: relative;
    }
    .menu{
        display: none;
    }
    .bread:hover .menu{
        display: flex !important;
        flex-direction: column !important;
        position: absolute !important; 
        top: 30px !important;
        z-index: 1 !important;
        gap: 1rem !important;
    }
    .display {
        display: flex !important;
        flex-direction: column !important;
        position: absolute !important; 
        top: 30px !important;
        z-index: 1 !important;
        gap: 1rem !important;
        background-color: aliceblue;
        padding: 1rem;
        border-radius: 25px;
    }
}*/
@media (max-width: 425px) {
    .menu {
        gap: 5px;
        grid-gap: 5px;
        justify-content: space-between;
    }
    .menu div {
        display: block;
    }
    .menu li {
        margin-bottom: 5px;
    }
}