<mat-sidenav-container class="example-container col-12 row">
    <mat-sidenav class="col-10 col-sm-9 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
        <div class="sidebar-parent">
            <mat-icon *ngIf="sidebarOpened && sidebarMode == 'over'" (click)="sidebar.toggle()" class="closeBtn">close</mat-icon>
            <app-sidebar ></app-sidebar>
        </div>
        
    </mat-sidenav>
  
    <mat-sidenav-content class="col-12 col-md-8 col-lg-8 col-xl-7 col-xxl-10">
        <div [ngClass]="{'headerTop' : true}">
            <div class="menuBtn">
                <mat-icon *ngIf="!sidebarOpened" (click)="sidebar.toggle()" >menu</mat-icon>
            </div>
            <app-top-header class="col-12 top-header"></app-top-header>
        </div>
        <div class="mb-5">
            <router-outlet></router-outlet>
        </div>
        <app-portalfooter class="col-12"></app-portalfooter>
    </mat-sidenav-content>
  </mat-sidenav-container>
  

  
  

