<div class="container mt-2">
    <h1 class="h2">Manage Content</h1>
    <div class="container-content row">
        <div class="content-wrapper col-9 mb-5">
            <div class="form-group col-4">
                <label for="" class="">Content Type</label>
                <select name="" id="" class="form-control ">
                    <option value="">Document</option>
                </select>
            </div>
            <div class="form-group col-12">
                <label for="" class="">Content Type</label>
                <input type="text" class="form-control" value="Hi - CEI Presentation">
            </div>
            <div class="form-group col-12">
                <label for="" class="">Description</label>
                <textarea type="text" class="form-control" >Hi - CEI Presentation</textarea>
            </div>
            <div class="form-group col-12">
                <label for="" class="">Tags(Type and press enter)</label>
                <input type="text" class="form-control" value="Hi - CEI Presentation">
            </div>
            <div class="card-wrapper">
                <div class="card col-5">
                    <h3 class="h2">Access Type</h3>
                    <div class="input-wrapper row">
                        <!-- <input type="radio" name="" id="" class="" disabled> -->
                        <input type="text" placeholder="Search" class="form-control searchInp">
                    </div>
                    <input type="checkbox" name="" id="" class="form-check-input">
                    <label for="" class="form-check-label">Public</label>
                    <input type="checkbox" name="" id="" class="form-check-input">
                    <label for="" class="form-check-label">Private</label>
                    
                </div>
                <div class="card col-5">
                    <h3 class="h2">Staff Access</h3>
                    <div class="input-wrapper row">
                        <!-- <input type="radio" name="" id="" class="" disabled> -->
                        <input type="text" placeholder="Search" class="form-control searchInp">
                    </div>
                    <input type="checkbox" name="" id="" class="form-check-input">
                    <label for="" class="form-check-label">Hub staff</label>
                    <input type="checkbox" name="" id="" class="form-check-input">
                    <label for="" class="form-check-label">Secretariate</label>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card partner col-5">
                    <h3 class="h2">Partners Access</h3>
                    <div class="input-wrapper row">
                        <!-- <input type="radio" name="" id="" class="col-3"> -->
                        <input type="text" placeholder="Search" class="form-control searchInp">
                    </div>
                    <input type="radio" name="" id="">
                    <label for="">Hi Hi</label>
                </div>
            </div>
            
            <div class="buttonGrp">
                <div class="btn btn-primary btn-lg blueBtn">Update Description</div>
                <div class="btn btn-danger btn-lg redBtn mx-2">Add New Content</div>
            </div>
            <div class="buttonGrp btn-two">
                <div class="btn btn-primary btn-lg blueBtn">Select Files</div>
                <div class="btn btn-danger btn-lg greyBtn mx-2">Upload</div>
                <div class="btn btn-danger btn-lg greyBtn">Cancel</div>
            </div>
            <div class="row-bottom">
                <div class="">Link</div>
                <div class="">
                    <input type="text" name="" id="" class="form-control searchInp" placeholder="link">
                </div>
            </div>
            <div class="btn btn-primary btn-lg blueBtn">Add Web Link</div>
        </div>
        <div class="countries-wrapper col-2 ">
            <h2 class="h3">Countries Access</h2>
            <input type="text" class="filter form-control searchInp" placeholder="Search">
            <div class="countries">
                <form action="">
                    <div class="form-group mb-2">
                        <input type="radio" name="" id="">
                        <label for="" class="mx-4">Burundi</label>
                    </div>
                    <div class="form-group mb-2">
                        <input type="radio" name="" id="">
                        <label for="" class="mx-4">Ethiopia</label>
                    </div>
                    <div class="form-group mb-2">
                        <input type="radio" name="" id="">
                        <label for="" class="mx-4">Uganda</label>
                    </div>
                    <div class="form-group mb-2">
                        <input type="radio" name="" id="">
                        <label for="" class="mx-4">Drc</label>
                    </div>
                    <div class="form-group mb-2">
                        <input type="radio" name="" id="">
                        <label for="" class="mx-4">Congo</label>
                    </div>
                    <div class="form-group mb-2">
                        <input type="radio" name="" id="">
                        <label for="" class="mx-4">Rwanda</label>
                    </div>
                    <div class="form-group mb-2">
                        <input type="radio" name="" id="">
                        <label for="" class="mx-4">Botswana</label>
                    </div>
                    <div class="form-group mb-2">
                        <input type="radio" name="" id="">
                        <label for="" class="mx-4">Namibia</label>
                    </div>
                    <div class="form-group mb-2">
                        <input type="radio" name="" id="">
                        <label for="" class="mx-4">Tanzania</label>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
