<div class="container-fluid">
    <div class="content-wrapper">
        <h2 class="h2 text-right">SDP Segmentation</h2>
    </div>
    <div class="data-div">
        <div class="filter-div">
            <p class="text-right danger filterTitle">Filters</p>
            <div class="form-group">
                <p>Quarters</p>
                <select name="" id="" class="form-select">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group">
                <p>Country</p>
                <select name="" id="" class="form-select">
                    <option value="1">Kenya</option>
                    <option value="2">Tanzania</option>
                    <option value="3">Somalia</option>
                </select>
            </div>
            <div class="form-group">
                <p>Partner</p>
                <select name="" id="" class="form-select">
                    <option value="1">IPPF</option>
                </select>
            </div>
            <div class="">
                <p>Segments</p>
                <div class="btn-holder">
                    <button class="btn btn-link">High Poverty -High Service Numbers</button>
                    <button class="btn btn-link">High Poverty - Low Service Numbers</button>
                    <button class="btn btn-link">Low Poverty - High Service Numbers</button>
                    <button class="btn btn-link">Low Poverty - Low Service Numbers</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Segment</th>
                <th>Count</th>
                <th>%</th>
                <th>Poverty & High<br>op. Density</th>
                <th>Count</th>
                <th>%</th>
                <th>Service<br>Volume</th>
                <th>Count</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    
</div>