<div class="navbar-holder">
    <app-top-header></app-top-header>
</div>
<div class="g-container row">
    <div class="split-container col-md-6">
        <!-- <img src="assets/images/surface.jpg" class="banner" width="400" height="300"/> -->
    </div>
    <div class="split-container col-12" [class.load] = "load">
        <div class="logos col-12 mb-2">
            <img src="{{logo}}" class="float-left" width="500" height="100" alt="">
        </div>
        <h4 class="text-center font-weight-bold divHeading">Register</h4>
        <div class="spin" *ngIf="load">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div *ngIf="success" class="col-12 col-md-6 p-3 text-success mx-auto text-center">
            <p>The user was successfully registered. Check your email to complete registration</p>
        </div>
        <div *ngIf="failed" class="col-12 col-md-6 p-3 text-danger mx-auto text-center">
            <p>The user was not successfully registered. try again</p>
        </div>
        <div *ngIf="warn.length > 1" class="col-12 col-md-6 p-3 text-danger mx-auto text-center">
            <p>{{warn}}</p>
        </div>
        <form [formGroup]="registrationForm" (ngSubmit)="register()">
            
            <div class="form-group">
                <label for="name">First Name</label>
                <input type="text" class="form-control form-control-lg" formControlName="firstName" [class.is-invalid] = "registrationForm.controls.firstName.status == 'INVALID' && registrationForm.controls.firstName.touched == true">
            </div>
            <div class="form-group">
                <label for="name">Last Name</label>
                <input type="text" class="form-control form-control-lg" formControlName="otherNames" [class.is-invalid] = "registrationForm.controls.otherNames.status == 'INVALID' && registrationForm.controls.otherNames.touched == true" >
            </div>
            <div class="form-group">
                <label for="name">Country</label>
                <select class="form-control form-control-lg" formControlName="country" [class.is-invalid] = "registrationForm.controls.country.status == 'INVALID' && registrationForm.controls.country.touched == true">
                    <option *ngFor="let item of countries" value="{{item.name.common}}">{{item.name.common}}</option>

                </select>
            </div>
            <div class="form-group">
                <label for="name">Organisation</label>
                <input type="text" class="form-control form-control-lg" formControlName="organization" [class.is-invalid] = "registrationForm.controls.organization.status == 'INVALID' && registrationForm.controls.organization.touched == true" >
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control form-control-lg" formControlName="email" [class.is-invalid] = "registrationForm.controls.email.status == 'INVALID' && registrationForm.controls.email.touched == true">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control form-control-lg" formControlName="password" [class.is-invalid] = "registrationForm.controls.password.status == 'INVALID' && registrationForm.controls.password.touched == true" >
            </div>
            <div class="form-group">
                <label for="Confirm password">Confirm Password</label>
                <input type="password" class="form-control form-control-lg" formControlName="passwordConfirmation" [class.is-invalid] = "registrationForm.controls.passwordConfirmation.status == 'INVALID' && registrationForm.controls.passwordConfirmation.touched == true" >
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-primary mb-2 registerBtn" id="" value="Register">
                <p>Already part of the community? <a [routerLink]="['/login']" class="text-danger">Login</a></p>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>