.split-container {
    padding: 1rem 0 1rem 0;
}
.load {
    z-index: 0 !important;
    opacity: 0.3 !important;
}
.form-control, .form-select {
        /* width: 60%; */
    /* height: 2.5rem; */
    margin: 0 0 1.5rem 0;
    border-radius: 25px !important;
    background-color: #F0F0F0 !important;
    border: none !important;
    height: 59px;
    width: 476px;
    border-radius: 53px; 
    /* margin: 2rem auto !important; */
}
label{
    margin-left: 2rem;
}
.form-group {
    margin: auto !important;
    width: 476px;
}
.form-select option, .form-select{
    font-size: 16px;
}
.is-invalid {
    border: 1px solid red;
}