.container {
    margin-top: 2rem;
    /* padding: 0 5%; */
}
.search {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-right: 2rem;
}
.tobSearchBtn {
    background-color: #151F6D !important;
    font-weight: bold !important;
}
.search input {
    height: 55px;
    border-radius: 47px;
}
thead {
    color: #151F6D !important;
    font-size: 1.3rem; 
    font-weight: bold;
}
th td {
    padding: 1rem 0;
}
table button {
    padding: 0.5rem 1rem;
    border-radius: 1.4rem;
    border: none;
    color: white;
}
.action-holder {
    position: relative;
}
.toggle-drop {
    position: absolute;
    margin-top: 2px;
    /* top: 0; */
    border: 1px solid rgb(233, 233, 233);
    padding: 8px 2px 8px 1rem;
    border-radius: 3px;
    background-color: #fff;
}
.toggle-drop a {
    text-decoration: none;
    display: block;
    color: #151F6D;
    font-size: 1rem;
}
.toggle-drop a:hover {
    border-bottom: 1px solid rgb(233, 233, 233);
}
.toggle-drop span {
    margin: 0 5px 0 0;
}
.span-icon {
    margin: 0 0 0 26px;
    text-align: left;
}