<div class="header px-md-5 py-3">
    <div class="logoz col-sm-3 col-xl-2 col-md-4  mx-2" (click)="takeMeHome()">
        <!-- <a routerLink]="['../']"> -->
            <img src="assets/images/wish-header.png" class="float-left" alt="" >
            <img src="assets/images/mainlogo.png" class="float-left" alt="">
        <!-- </a> -->
    </div>
    <div class="avatar">
        <div class="salutation">
            <p   class="h3 ">Hi {{',' +user.username}}<button class="h3 mx-1 hov"><i class="fas fa-user-circle" ></i></button></p>
            <div class="user-management" >
                <a [routerLink]="['../change-password']">Change password</a>
                <a [routerLink]="['/account-settings']">Account Settings</a>
                <!-- <a [routerLink]="['../logout']">Logout</a> -->
                <a [routerLink]="['../resources']">Resources Portal</a>
            </div> 
        </div>
        <div *ngIf="!isSignedIn; else loggedOut">
            <a [routerLink]="['../login']" class="btn blueBtn searchBtnSmall">Sign in</a>
            <a [routerLink]="['../registration']" class="btn yellowBtn searchBtnSmall">Sign up</a>
        </div>
        <ng-template #loggedOut>
            <button (click)="signOut()"  class="btn btn-danger redBtn">Logout</button>
          </ng-template>
    </div>
    
</div>