
.header{
    /* background-color: rgb(173, 173, 173); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 10vh; */
    /* box-shadow: 0 0px 5px gray; */
}
.logoz{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 375px; */
}
.logoz img{
    cursor: pointer;
    /* width: 100%;
    height: 100%; */
    width: 250px;
    object-fit: contain;
}
/* .logoz img:nth-child(1) { */
    /* height: 50px !important; */
    
/* } */
.avatar a{
    height: auto !important;
}
.avatar{
    text-align: right;
    cursor: pointer;
    padding-top: 0.5rem;
    position: relative;
}
.user-management {
    display: none;
}
.salutation-active .user-management {
    display: flex;
    flex-direction: column;
}
.h3-salutation:hover {
    color: #151F6D;
}
.user-management{
    padding: 1rem;
    width: 180px;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 90px;
    text-align: left !important;
    box-shadow: 0px 0px 2px  #333;
    border-radius: 10px;
    background-color: #E6007E;
}
.user-management a{
    text-decoration: none;
    width: 100%;
}
.avatar .hov {
    background-color: none !important;
    border: none;
    background: none !important;
}
.text-globe {
    text-decoration: none;
    font-size: 25px;
}
.text-globe i {
    padding-right: 8px;
}
@media (max-width: 765px) {
    .logoz img{
        width: 200px;
    }
}
@media (max-width: 425px) {
    /* .logoz img{
        width: 100px;
    } */
    .avatar{
        width: 50%;
    }
    .blue-text , .salutation p, .salutation a {
        font-size: 1rem !important;
    }
    .br { 
        display:none; 
    }
    .user-management {
        top: 60px !important;
        width: 125px !important;
        padding: 0px;
    }
}
@media (max-width: 375px) {
    .logoz img{
        width: 150px;
    }
}
