<!-- <p>home works!</p> -->
<!-- <a [routerLink]="['registration']" class="btn btn-link">Create new account</a> -->
<app-top-header></app-top-header>
<div class="landing-page" scroll="no">
    <section class="section1 py-4">
        <div class="content">
            <div class="">
                <!-- <app-menu></app-menu> -->
                <app-navbar></app-navbar>
                
                <div class="headingBig col-12 text-right row py-5">
                    <div class="">
                        <p class=" ">Welcome to<br /><span class="my-1 my-md-4">The IPPF Data Sharing Portal.</span></p>
                    </div>
                    <!-- <div class="backImage col-md-7"></div> -->
                </div>    
            </div>
            <!-- <div class="backImage col-7"></div> -->
        </div>
        <div class="formDivHolder mb-5">
            <form action="" class="">
                <div class="formgroup text-center">
                    <p class="">What would you like to find?</p>
                    <input type="text" class="homeSearch mb-4" placeholder="Search For Datasets"/>
                    <!-- <input type="submit" value="Search" class="btn btn-primary searchBtn searchBtnMid blueBtn">                 -->
                </div>
            </form>
            <div class="learnMore">
                <a href="">Learn More</a>
            </div>
        </div>
    </section>
    <section class="section2 py-5 mb-4 container-fluid">
        <div class="portalUsers col-md-7">
            <h1 class="headingMid">Who uses the Portal?</h1>
            <p class="greyP">In a world full of data points, this portal aims to make access to it so much simpler. Below are the main beneficiaries of the portal.</p>
        </div>
        <div class="container-fluid homeCardsContainer">
            <div class="homeCards">
                <div class="lead-heading text-center">Learning/Research Institutions: Universities/College</div>
                <div class="card-body">
                    <div class="imageHolder firstImg">
                    </div>
                </div>
                <button class="btn cardBtn blueBtn">Explore</button>
            </div>
            <div class="homeCards">
                <div class="lead-heading text-center">International Development Organisations</div>
                <div class="card-body">
                    <div class="imageHolder secondImg">
                    </div>
                </div>
                <button class="btn cardBtn blueBtn">Explore</button>
            </div>
            <div class="homeCards">
                <div class="lead-heading text-center">General Public</div>
                <div class="card-body">
                    <div class="imageHolder thirdImg">
                    </div>
                </div>
                <button class="btn cardBtn blueBtn">Explore</button>
            </div>
        </div>
    </section>
</div>
