<div class="overall-wrap d-flex flex-column min-vh-100">
    <app-top-header></app-top-header>
    <div class="landing-page" scroll="no">
        <section class="section1 py-4">
            <div class="content">
                <div class="">
                    <!-- <app-menu></app-menu> -->
                    <app-navbar></app-navbar>
                    
                    <div class="intro-content col-12 col-md-5 mx-md-4">
                        <div class="my-3">
                            <h2 class="h2">IPPF Data Sharing Portal</h2>
                            <h3 class="h3">Key data to guide the global HIV response</h3>
                            <p>Results of the PHIA Project provide a valuable data resource for HIV and global health researchers, policymakers, and program planners.</p>
                            <p>This page features access to public data sets and visualization tools that allow you to explore the full range of survey results and build charts, graphs, and maps. Final report data are currently available for Malawi, Eswatini, Zambia, Zimbabwe, Tanzania, Uganda, Lesotho, Namibia, Rwanda, Cameroon, Ethiopia and Côte d’Ivoire. Check out our timeline for upcoming data release dates, and our resources for final reports and summary sheets.</p>
                        </div>
                        <!-- <div class="backImage col-md-7"></div> -->
                    </div>    
                </div>
                <!-- <div class="backImage col-7"></div> -->
            </div>
        </section>
        <!-- <section class="section2 py-5 mb-4 container-fluid">
            <div class="portalUsers col-md-7">
                <h1 class="headingMid">Who uses the Portal?</h1>
                <p class="greyP">In a world full of data points, this portal aims to make access to it so much simpler. Below are the main beneficiaries of the portal.</p>
            </div>
            <div class="container-fluid homeCardsContainer">
                <div class="homeCards">
                    <div class="lead-heading text-center">Learning/Research Institutions: Universities/College</div>
                    <div class="card-body">
                        <div class="imageHolder firstImg">
                        </div>
                    </div>
                    <button class="btn cardBtn blueBtn">Explore</button>
                </div>
                <div class="homeCards">
                    <div class="lead-heading text-center">International Development Organisations</div>
                    <div class="card-body">
                        <div class="imageHolder secondImg">
                        </div>
                    </div>
                    <button class="btn cardBtn blueBtn">Explore</button>
                </div>
                <div class="homeCards">
                    <div class="lead-heading text-center">General Public</div>
                    <div class="card-body">
                        <div class="imageHolder thirdImg">
                        </div>
                    </div>
                    <button class="btn cardBtn blueBtn">Explore</button>
                </div>
            </div>
        </section> -->
    </div>
    <app-footer class="mt-auto"></app-footer>
</div>