* {
    margin: 0;
}
.home-wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: stretch;
    align-content: stretch;
}
.landing-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    justify-content: stretch;
}
/* app-top-header{
    height: 10%;
}
app-footer {
    height: 20%;
} */
.section1 {
    height: 100%;
}
.intro-content {
    color: rgb(247, 242, 242);
    /* height: 100%; */
    /* padding-bottom: 4rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.1;
}
.h3{
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.1;
}
p {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}
/* .section1{
    color: aliceblue;
} */
/* .section1 .content {
    width: 100%;
    padding: 2rem 0 4rem 0;
    color: #151F6D;
    position: relative;
} */

/* .searchData .formgroup {
    margin: 0 auto 4rem auto !important;
}
.section1 input {
    height: 4rem;
}
.section2 .container-fluid{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
}
.section-header {
    margin: 4rem auto !important;
} */
.search-Btn {
    background: none !important;
    border: none !important;
    font-size: 2rem;
    color: black;
     /* position: absolute; */
    margin-left: -3rem;
}
/* .searchresults {
    margin: auto;
    width: 500px;
    text-align: left !important;
    background-color: whitesmoke;
    color: #333;
} */
/* .homeSearch {
    position: relative;
} */
app-navbar {
    color: black !important;
}
@media (max-width: 1024px) {
    /* .landing-page{
        overflow: scroll;
    } */
    .menu a{
        font-size: 1rem !important;
        letter-spacing: 0px !important;
    }
    /* .welcomeMessage {
        margin: 2rem 0 !important;
        padding: 0 !important;
    } */
    .welcomeMessage p{
        font-size: 2.5rem;
    }
}
@media (max-width: 768px) {
    .landing-page{
        overflow: scroll;
    }
    .header{
        padding: 1rem;
    }
    .logos{
        gap: 1rem  ;
    }
    .logos img{
        width: 80px;
    }
    .avatar a{
        font-size: 1rem;
        /* margin-bottom: 1rem; */
    }
    /* .avatar{
        
    } */
    .section1 .container {
        margin: 0 !important;
        padding: 0 !important;
    }
    /* .menu {
       
    } */
    .menu a{
        font-size: 1rem;
        letter-spacing: 0px;
    }
    .welcomeMessage p{
        font-size: 2.5rem;
    }
    .welcomeMessage {
        margin: 4rem 0 !important;
        padding: 0 !important;
    }
}
@media (max-width: 600) {
    .menu{
        display: none !important;
    }
}
@media (max-width: 350px) {
    .section1 .container {
        margin-bottom: 3rem !important;
    }
    .logos img{
        width: 70px;
    }
    .logos{
        gap: 1rem  ;
    }
    .section1 form p{
        font-size: 1rem;
    }
}