<div class="home-wrap">
    <app-top-header></app-top-header>
    <div class="landing-page" scroll="no">
        <section class="section1 py-1">
            <div class="content">
                <div class="">
                    <!-- <app-menu></app-menu> -->
                    <app-navbar></app-navbar>
                    
                    <div class="intro-content col-12 col-md-5 mx-md-4">
                        <div class="my-1">
                            <h2 class="h2">IPPF Data Sharing Portal</h2>
                            <h3 class="h3">Key data to guide the global HIV response</h3>
                            <p>Results of the PHIA Project provide a valuable data resource for HIV and global health researchers, policymakers, and program planners.</p>
                            <p>This page features access to public data sets and visualization tools that allow you to explore the full range of survey results and build charts, graphs, and maps. Final report data are currently available for Malawi, Eswatini, Zambia, Zimbabwe, Tanzania, Uganda, Lesotho, Namibia, Rwanda, Cameroon, Ethiopia and Côte d’Ivoire. Check out our timeline for upcoming data release dates, and our resources for final reports and summary sheets.</p>
                        </div>
                        <!-- <div class="backImage col-md-7"></div> -->
                    </div>    
                </div>
                <!-- <div class="backImage col-7"></div> -->
            </div>
        </section>
        <app-footer class="mt-auto"></app-footer>
    </div>

</div>