footer {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px grey;
}
.logos{
    display: flex;
    flex-direction: column;
}
.logos img{
    cursor: pointer;
    width: 250px;
    height: auto;
}
.menu-links a {
    text-decoration: none;
    font-weight: 400;
    color: black;
}
.menu-links li {
    list-style: none;
    /* margin-bottom: 4px !important; */
}
#emailInput{
    width: 100%;
}
.form-control {
    background-color: #F0F0F0 !important;
    border: none !important;
    border-radius: 53px; 
}
.comment-form{
    text-align: right;
}
label{
    font-weight: 500 !important;
}
.inputFields {
    display: flex !important;
    justify-content: space-between;
}
.inputFields input:nth-child(1) {
    width: 60%;
}
.inputFields input:nth-child(2) {
    width: 35% !important;
    margin: 0 px;
}
.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subscribe .fields {
    display: flex;
    flex-direction: column;
}
.subscribe .feedback-btn {
    align-self: flex-end;
}
@media (max-width: 425px) {
    footer, .inputFields {
        display: block;
    }
    .menu-links {
        width: 100%;
        
    }
    /*.menu-links ul {
        display: flex ;
        flex-direction: row;
        justify-content: space-between;
    }*/
    .subscribe {
        width: 100%;
    }
}