
    <footer class="px-3 pt-2 col-12">
        <div class="menu-links col-md-4 col-lg-4 col-sm-4 text-right">
            <ul class="row">
                <li class="col-6 col-sm-12">
                    <a [routerLink]="['/about']">About</a>
                </li>
                <li class="col-6 col-sm-12">
                    <a [routerLink]="['/faqs']">FAQ</a>
                </li>
                <li class="col-6 col-sm-12">
                    <a [routerLink]="['/contact']">Contact Us</a>
                </li>
                <li class="col-6 col-sm-12">
                    <a [routerLink]="['/']">Home</a>
                </li>
            </ul>
        </div>
        <div class="subscribe col-md-6 col-lg-6 col-sm-6">
            <form action="" [formGroup]="feedbackForm" (submit)="submit()">
                <div class="form-group">
                    <div class="fields">
                      <div class="col-12">
                        <textarea class="form-control" name="" id="" rows="1" placeholder="Tell Us How We Can Improve" formControlName="feedback"></textarea>
                      </div>
                      <div class="feedback-btn pt-2">
                        <input type="submit" value="Submit" class="btn blueBtn searchBtn">
                      </div>
                    </div>
                </div>
            </form>
        </div>
    </footer>