.container {
    margin-top: 2rem;
    /* padding: 0 5%; */
    scroll-behavior: smooth;
}
.addNew {
    padding-right: 10%;
    width: 100%;
    text-align: right;
}
.addNew p {
    font-weight: bold;
    font-size: 1.4rem;
}
.search {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-right: 2rem;
}
.search input:nth-child(1) {
    background-color: #F0F0F0;
}
.submitSearch, .tobSearchBtn {
    background-color: #151F6D !important;
    font-weight: bold !important;
}
.search input {
    height: 55px;
    border-radius: 47px;
}
.statusBtn {
    background-color: rgb(54, 102, 54) !important;
    color: white !important;
}
.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.filter-options input {
    margin-right: 5px;
}
thead {
    color: #151F6D !important;
    font-size: 1.3rem; 
    font-weight: bold;
}
th td {
    padding: 1rem 0;
}
table button {
    padding: 0.5rem 1rem;
    border-radius: 1.4rem;
    border: none;
    color: white;
}
.action-holder {
    position: relative;
}
.toggle-drop {
    position: absolute;
    margin-top: 2px;
    /* top: 0; */
    border: 1px solid rgb(233, 233, 233);
    padding: 8px 2px 8px 1rem;
    border-radius: 3px;
    background-color: #fff;
}
.toggle-drop a {
    text-decoration: none;
    display: block;
    color: #151F6D;
    font-size: 1rem;
}
.toggle-drop a:hover {
    border-bottom: 1px solid rgb(233, 233, 233);
}
.toggle-drop span {
    margin: 0 5px 0 0;
}
.span-icon {
    margin: 0 0 0 26px;

}