<div class="container" scroll="yes">
    <div class="addNew text-right">
        <p>Upload New</p>
        <!-- <label for="">Upload New</label>
        <input type="file" name="" id=""> -->
    </div>
    <form action="" >
        <div class="search">
            <input type="text" name="" id="" placeholder="Search Datasets" class="topSearchInput col-9">
            <input type="submit" value="Search" class="btn btn-secondary col-2 tobSearchBtn">
        </div>
        <div class="filters col-9">
            <p>Publish Status: </p>
            <div class="filter-options">
                <input type="checkbox" name="" id="" class="">
                <label for=""> All</label>
            </div>
            <div class="filter-options">
                <input type="checkbox" name="" id="" class="">
                <label for=""> Published Only</label>
            </div>
            <div class="filter-options">
                <input type="checkbox" name="" id="" class="">
                <label for="">Not Published</label>
            </div>
        </div>
    </form>
    <div class="px-md-5">
        <table class="table px-md-5">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Year Published</th>
                <th scope="col">Resource Type</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">What does it take to be a third party monitor?</td>
                    <td>2021</td>
                    <td>(1) Files</td>
                    <td><button class="statusBtn">Publish</button></td>
                    <td><button class="tobSearchBtn">Actions</button></td>
                </tr>
                <tr>
                    <td scope="row">What does it take to be a third party monitor?</td>
                    <td>2021</td>
                    <td>(1) Files</td>
                    <td><button class="statusBtn">Publish</button></td>
                    <td><button class="tobSearchBtn">Actions</button></td>
                </tr>
                <tr>
                    <td scope="row">What does it take to be a third party monitor?</td>
                    <td>2021</td>
                    <td>(1) Files</td>
                    <td><button class="statusBtn">Publish</button></td>
                    <td><button class="tobSearchBtn">Actions</button></td>
                </tr>
                <tr>
                    <td scope="row">What does it take to be a third party monitor?</td>
                    <td>2021</td>
                    <td>(1) Files</td>
                    <td><button class="statusBtn">Publish</button></td>
                    <td><button class="tobSearchBtn">Actions</button></td>
                </tr>
                <tr>
                    <td scope="row">What does it take to be a third party monitor?</td>
                    <td>2021</td>
                    <td>(1) Files</td>
                    <td><button class="statusBtn">Publish</button></td>
                    <td><button class="tobSearchBtn">Actions</button></td>
                </tr>
                <tr>
                    <td scope="row">What does it take to be a third party monitor?</td>
                    <td>2021</td>
                    <td>(1) Files</td>
                    <td><button class="statusBtn">Publish</button></td>
                    <td><button class="tobSearchBtn">Actions</button></td>
                </tr>
            </tbody>
          </table>
    </div>

</div>